# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

builtImages.txt
pushedImages.txt
dfResult.txt

/.idea/libraries/Dart_SDK.xml
/.idea/libraries/Dart_Packages.xml
/.idea/modules.xml
/.idea/update-gitpod-derived-docker-images-using-github-code.iml
/.idea/misc.xml

.env
